<html>
<head>
<meta charset="utf-8" />

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>

<body>

	<div class="container mt-2">
		<h1>Carros</h1>
		<nav>
			<div class="navbar-nav ">
				<a class="nav-item nav-link" href="/dashboard">Todos</a> 
				<a class="nav-item nav-link" href="/dashboard/caminhonete">caminhonete</a>
				<a class="nav-item nav-link" href="/dashboard/sedan">sedan</a>
				<a class="nav-item nav-link" href="/dashboard/popular">popular</a>
			</div>
		</nav>
		<div th:each="carro : ${carros}" class="card mt-2">
			<div class="card-body row">
				<div class="col-12 col-sm-8">
					<p th:text="${carro.nome}">Nome do carro</p>
				</div>
				<div class="col-12 col-sm-4">
					<img class="img-thumbnail" alt="" th:src="${carro.urlFoto}" src="">
				</div>
			</div>
		</div>
	</div>
</body>
</html>